.idea
*.sqlite3
.vscode
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.pyc
meuProjeto/__pycache__/view.cpython-38.pyc
../clientes/__pycache__/views.cpython-38.pyc